.activity-container {
  height: auto;
  font-family: Arial, sans-serif;
}

.activity-header {
  text-align: center;
  margin: 20px 0;
}

.activity-slideshow-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 40px;
}

.activity-slideshow {
  text-align: center;
  position: relative;
  width: 350px;
}

.activity-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.activity-prev-button,
.activity-next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.activity-prev-button {
  left: 10px;
}

.activity-next-button {
  right: 10px;
}

/* Globe & Map Styling */
.activity-map-container {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

.activity-map-background {
  width: 80%;
  height: auto;
  border-radius: 8px;
  position: relative;
}

.globe-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.activity-globe-title {
  color: green;
  margin-top: 20px;
}

.activity-globe-legend {
  font-size: 12px;
}

.purple {
  color: purple;
}

.green {
  color: green;
}

.activity-footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
